<button
(click)="showDialog()"
  class="flex items-center px-4 py-2 font-medium text-sm text-white bg-indigo-600 border border-transparent rounded-lg shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition duration-150 ease-in-out"
>
  <svg
    class="w-5 h-5 mr-2"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 4v16m8-8H4"
    ></path>
  </svg>
  Add
</button>

<p-dialog header="Create a new short link" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="formAdd" >
      <div>
        <label
          for="originalUrl"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Original URL</label
        >
        <div class="mt-2">
          <input
            id="originalUrl"
            formControlName="originalUrl"
            pInputText
            type="text"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <button
          type="submit"
          (click)="addLink()"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Save
        </button>
      </div>
    </form>
  </div>

</p-dialog>
